<section class="production-rails-blog">
  <article>
    <div class="tile">
      <aside class="content">
        <div>
          <h2>Production Ready Ruby on Rails</h2>
          Learn tips and tricks for optimizing and architecting production
          ready SaaS applications.
        </div>
      </aside>

      <div class="image">
        <div></div>
      </div>
    </div>
  </article>
</section>
