<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="{{@site.icon}}" width="32" height="32" alt="">
    </a>

    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item" href="https://www.colinpetruno.com" />
          About the Author
        </a>

        <a class="nav-item" href="//www.colinpetruno.com/#services" />Services</a>
        <a class="nav-item" href="//www.colinpetruno.com/#projects" />Projects</a>
        <a class="nav-item" href="//www.colinpetruno.com/#technologies" />Technologies</a>
        <a class="nav-item" href="//www.colinpetruno.com/#contact" />Contact</a>
      </div>
    </div>
  </nav>
</header>
