main.post-listings {
  max-width: 750px;
  margin: 100px auto;

  > ul {
    list-style: none;
    padding-left: 0;
  }

  @media (max-width: 768px) {
    margin: 0 15px;
    text-align: center;
  }
}
